[submodule "warmup_project"]
	path = warmup_project
	url = git@github.com:ariporad/warmup_project.git
[submodule "robot_localization"]
	path = robot_localization
	url = git@github.com:ariporad/robot_localization.git
